@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
.main {
  padding: 10px;
  height: 100vh;
  background-color: rgb(130 97 97 / 19%);
}

.layout {
  display: flex;
}

.sidebar {
  font-family: "PT Serif", serif;
  background-color: rgb(88 52 40);
  width: 300px;
  min-height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  color: white;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 2px gray;
  font-family: "PT Serif", serif;
}

.body {
  font-family: "PT Serif", serif;
  height: 85vh;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 2px gray;
  background-image: url("../components/doc_bg.jpg");
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}
.logo {
  display: flex;
  margin-top: 10px;
  margin-bottom: -2px;
}

.logo i {
  margin: 0px 19px;
  margin-top: 17px;
  margin-bottom: -10px;
  font-size: 2rem;
}

.logo h6 {
  margin: 20px 0;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 11px;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: #ededede0;
  padding: 10px;
}
.active a,
.active i {
  color: rgb(51, 1, 1);
}

.header-content {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  font-size: 1.2rem;
  margin-right: 20px;
}

.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blue;
  text-transform: uppercase;
  margin: 0 10px;
}
